In [1]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
from math import sqrt
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('Housing.csv')
df.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [3]:
df.columns

Index(['Unnamed: 0', 'price', 'lotsize', 'bedrooms', 'bathrms', 'stories',
       'driveway', 'recroom', 'fullbase', 'gashw', 'airco', 'garagepl',
       'prefarea'],
      dtype='object')

In [4]:
df.tail()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
541,542,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,543,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,544,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,545,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,546,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [16]:
# what do you want to predict?
y = df['price']
# print(type(y))
y = y.values
# print(y)
y = y.reshape(len(y), 1)
# print(y)

In [12]:
x = df['lotsize']
x = x.values
x = x.reshape(len(x), 1)
# print(x)

In [15]:
x_train = x[:430]
x_test = x[431:]
y_train = y[:430]
y_test = y[431:]
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
y_pred = regr.predict(x_test)
y_pred[:10]

array([[ 68531.78117557],
       [ 73914.57150717],
       [114061.21606373],
       [ 91558.16203855],
       [ 68382.25922191],
       [ 87072.50342888],
       [ 55074.80534655],
       [ 68830.82508288],
       [ 80059.92380242],
       [ 55074.80534655]])

In [22]:
rms = sqrt(mean_squared_error(y_test, y_pred))
print(rms)

23599.90844573301

In [25]:
from sklearn.preprocessing import LabelEncoder
number = LabelEncoder()
df['prefarea'] = number.fit_transform(df['prefarea'].astype('str'))
# df['prefarea']